---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text: #244047;
$links: #BA5624;

//@import "minima";
body {
    margin: 0;
    padding: 0;
    font-family: dinosaur;
    color: $text;
    font-size: 1.25em;
}

p {
    text-align: center;
    line-height: 1.25;
}

a {
    position: relative;
    transition: color 0.25s;
    text-decoration: none;
    color: $text;
    white-space: nowrap;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 2px;
        border-bottom: 0.125em solid $links;
        animation-name: borderIn;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }

    &:hover:after {
        animation-name: borderOut;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }
}

main.page-splash {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    //position: relative;
    overflow: hidden;

    @media screen and (max-width:720px) {
        padding: 2em;
    }

    .wrapper {
        max-width: 740px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: 400;
            display: none;
            //text-transform: lowercase;
        }

        p {
            z-index: 2;
            position: relative;
            line-height: 1.5;
        }

        .logo {

            $iso_diagonal: 19.2px;
            $iso_base: 10.733px;
            $iso_width: $iso_base * 4;
            $iso_height: $iso_base * 2;
            $iso_angle: 26.565deg;
            $iso_angle_reversed: 180 - $iso_angle;
            $iso_colour_primary: fade-out($links,0.9);
            //$iso_colour_secondary: $text;
            $iso_colour_secondary: fade-out($links,0.9);

            position: relative;
            z-index: 1;
            
            margin-bottom: 1em;
            
            &:before {
                content: '';
                position: absolute;
                top: $iso_width * 5 / 2;
                left: $iso_height * 5 / 2;
                margin-left: -1000px;
                margin-top: -500px;
                width: 2000px;
                height: 1000px;
                background: 
                    repeating-linear-gradient($iso_angle, transparent 0, transparent calc( #{$iso_diagonal * 5} - 2px ), $iso_colour_primary $iso_diagonal * 5),
                    repeating-linear-gradient($iso_angle, transparent 0, transparent calc( #{$iso_diagonal} - 1px ), $iso_colour_secondary $iso_diagonal),

                    repeating-linear-gradient($iso_angle_reversed, transparent 0, transparent calc( #{$iso_diagonal * 5} - 2px ), $iso_colour_primary $iso_diagonal * 5),
                    repeating-linear-gradient($iso_angle_reversed, transparent 0, transparent calc( #{$iso_diagonal} - 1px ), $iso_colour_secondary $iso_diagonal)

                    //repeating-linear-gradient(45deg, transparent 0%, transparent calc( #{$iso_diagonal} - 2px ), $iso_colour_secondary $iso_diagonal)
                    ;
                background-position: $iso_base * 1.5 $iso_base * 5;
                z-index: 1;;
            }

            svg {
                //width: 180px;
                //width: $iso_width * 5;
                fill: $text;
                position: relative;
                z-index: 2;

                .light {
                    fill: transparent;
                    transition: fill 0.25s;
                }

                &:first-child {
                    position: absolute;
                    fill: #e6e6e6;
                }

                &:nth-child(2) {
                    position: relative;
                    top: 0;
                    transition: top 0.25s;

                    &:hover {
                        top: -10px;

                        .light {
                            fill: $links;
                        }
                    }
                }
            }

            &:after {
                content: '';
                position: fixed;
                top: 0; bottom: 0; left: 0; right: 0;
                background: radial-gradient(transparent 0%, #fff 100%);
                z-index: 1;
            }
            
        }

    }

}

@keyframes borderIn {
    0% {
      left: 0;
      right: 100%;
    }
    100% {
      left: 0;
      right: 0;
    }
  }
@keyframes borderOut {
0% {
    left: 0;
    right: 0;
}
100% {
    left: 100%;
    right: 0;
}
}